{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
{% endblock %}

{% block HeaderTitle %}Dashboard{% endblock %}

{% block dashboardInfos %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Liste des articles</h3>
                    <table id="example" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Designantion</th>
                            <th>
                                <a href="{{ path('add_article') }}">
                                    <button type="button"
                                            class="btn btn-default"
                                            title="ajouter un nouveau">
                                        <span class="fa fa-plus-square"></span>
                                    </button>
                                </a>
                                Action
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for categorie in categories %}
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalTitle"></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="modal_detail">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-default"
                                                    data-dismiss="modal">
                                                Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <tr>
                                <td>{{ categorie.id }}</td>
                                <td>{{ categorie.designation }}</td>
                                <td>
                                    <a href='#'
                                       data-toggle="modal" data-target="#exampleModal"
                                       class="modalArticle"
                                       data-id="{{ categorie.id }}"
                                       id="article_{{ categorie.id }}">
                                        <button type="button" class="btn btn-default btn-bold">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </a>

                                    {% if is_granted('ROLE_MANAGER') %}
                                        <a href="{{ path('edit_article',{'id':categorie.id}) }}">
                                            <button type="button" class="btn btn-default">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                        </a>
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('delete_article',{'id':categorie.id}) }}">
                                            <button type="button" class="btn btn-default"
                                                    onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <p>Aucun article n'a été trouvée.</p>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.panel-modal -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('.modalArticle').click(function () {
                var id = $(this).data('id');
                console.log($(this).data('id'));
                //var url = '/otn_acs/web/app_dev.php/articles/view';
                var url = '{{ path("view_article") }}';
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: {id: id},
                    success: function (data) {
                        $('#modal_detail').html(data);
                        $('#dataModal').modal("show");
                    }
                });
            });
        });
    </script>


{% endblock %}
