<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Page Not Found</title>
</head>
<body style="background-color: #6cb9f7;">
<div>
    <img src="{{ asset('bundles/app/assets/404_page2.jpg') }}"
    style="width: 100%;">
</div>
<a href="{{ path('articles_lists') }}" title="page d'acceuil">
    <img src="{{ asset('bundles/app/assets/home_page.png') }}"
         style="width: 9%;margin-left: 43%;">
</a>
</body>
</html>

