
{% block HeaderTitle %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if is_granted('ROLE_MANAGER') %}
                    <a href="{{ path('edit_article',{'id':article.id}) }}">
                        <button type="button" class="btn btn-default">
                            <span class="fa fa-edit"></span>
                        </button>
                    </a>
                    {% endif %}
                    &nbsp;&nbsp;&nbsp;
                    <b>Information sur l'article " {{ article.designation }} "</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <div class="form-group">
                                    <label for="reference">Référence</label>
                                    <input class="form-control" id="reference" value={{ article.reference }} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="designation">Désignation</label>
                                    <input class="form-control" id="designation" value={{ article.designation }} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="categorie">Catégorie</label>
                                    <input class="form-control" id="categorie" value={{ article.categorie }} disabled>
                                </div>
                                <div class="form-group">
                                    <label for="dateentree">Date Entrée</label>
                                    <input class="form-control" id="dateentree"
                                           value={{ article.dateentree|date('Y-m-d\\_à_H:i:s') }}
                                           disabled>
                                </div>
                                {% if article.updatedAt %}
                                <div class="form-group">
                                    <label for="updatedAt">Date de mise à jour</label>
                                    <input class="form-control" id="updatedAt"
                                           value={{ article.updatedAt|date('Y-m-d\\_à_H:i:s') }}
                                    disabled>
                                </div>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGER') %}
                                <a href="{{ path('edit_article',{'id':article.id}) }}">
                                    <button role="button" class="btn btn-primary">Modifier</button>
                                </a>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}