{% extends '@App/layout.html.twig' %}

{% block HeaderTitle %}Edition de l'article{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">&nbsp;&nbsp;&nbsp;
                    <b>Editer l'article</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(form, {'action': path('edit_article',{'id': article.id}) } ) }}
                            <fieldset>
                                <div class="form-group">
                                    <label for="reference">Référence</label>
                                    {{ form_widget(form.reference, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="designation">Désignation</label>
                                    {{ form_widget(form.designation, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="categorie">Catégorie</label>
                                    {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group hidden">
                                    <label for="dateentree">Date Entrée</label>
                                    {{ form_widget(form.dateentree,
                                    {'value' : "now"|date("Y-m-d"), 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group hidden">
                                    <label for="updatedAt">Date Entrée</label>
                                    {{ form_widget(form.updatedAt,
                                    {'value' : "now"|date("Y-m-d"), 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <a href="{{ path('edit_article',{'id':article.id}) }}">
                                    <button type="submit" class="btn btn-primary">Modifier</button>
                                </a>
                                <a href="{{ path('articles_lists') }}">
                                    <button type="button" class="btn btn-default">Annuler</button>
                                </a>
                            </fieldset>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}