{% block HeaderTitle %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Importer un fichier csv</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <form action="{{ path('import_articles') }}"
                                      enctype="multipart/form-data"
                                      method="post">
                                    <div class="form-group">
                                        <input type="file"
                                               class="btn btn-default"
                                               name="fileToUpload"
                                               id="fileToUpload"
                                               accept=".csv">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="importer" class="btn btn-primary" name="submit">
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}