{% extends '@App/layout.html.twig' %}

{% block HeaderTitle %}Nouveau article{% endblock %}

{% block content %}

    <style>

        .border_error {
            border: 1px solid red;
        }
        .error_style {
            color: red;
        }

    </style>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Ajouter les informations de l'article</b>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(form, {'action': path('add_article') } ) }}
                            <fieldset>
                                <div class="form-group">
                                    <label for="reference">Référence</label>
                                    {{ form_widget(form.reference, { 'attr': {'class': 'form-control'} }) }}
                                    <span id="reference_result"></span>
                                </div>
                                <div class="form-group">
                                    <label for="designation">Désignation</label>
                                    {{ form_widget(form.designation, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group">
                                    <label for="categorie">Catégorie</label>
                                    {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group hidden">
                                    <label for="dateentree">Date Entrée</label>
                                    {{ form_widget(form.dateentree,
                                    {'value' : "now"|date("Y-m-d"), 'attr': {'class': 'form-control'} }) }}
                                </div>
                                <div class="form-group hidden">
                                    <label for="updatedAt">Date Entrée</label>
                                    {{ form_widget(form.updatedAt,
                                    {'value' : "now"|date("Y-m-d"), 'attr': {'class': 'form-control'} }) }}
                                </div>
                                    <button type="submit" id="submit" class="btn btn-primary">Ajouter</button>
                                <button type="reset" class="btn btn-default">Annuler</button>
                            </fieldset>
                            {{ form_end(form) }}
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/assets/vendor/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $("#submit").click(function() {

            var reference = $('#appbundle_article_reference').val();

            var response = $.ajax({
                type: "GET",
                url: "{{ url('reference_check_validity') }}",
                data: {reference: reference},
                async: false
            }).responseText;

            console.log(response);

            if(response == 'exist'){
                $('#appbundle_article_reference').addClass("border_error");
                $('#reference_result').addClass("error_style");
                $("#reference_result").text("référence déjà existante");
                return false;
            }else{
                return true;
            }

        });

    </script>
{% endblock %}