{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel-heading">
        <h3 class="panel-title">Please Sign In</h3>
    </div>
    <div class="panel-body">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Username" name="_username"
                       value="{{ last_username }}" required="required" autofocus/>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" id="password"
                       name="_password" required="required" />
            </div>
            <div class="checkbox">
                <label>
                    <input name="remember" type="checkbox" id="remember_me" name="_remember_me" value="Remember Me" />
                    Remember Me
                </label>
            </div>
            <!-- Change this to a button or input when using this as a form -->
            <input type="submit" class="btn btn-primary col-lg-12" id="_submit" name="_submit" value="Login" />
        </fieldset>
    </form>
    </div>
{% endblock fos_user_content %}