{% extends '@App/layout.html.twig' %}

{% block HeaderTitle %}
    {% if user.id == app.user.id %}
        Edit Profile
    {% else %}
        Edit User
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                {{ form_start(form, {'method': 'post', 'action': path('user_update',{'id':user.id}),
                                    'attr': {'class': 'fos_user_registration_register'}}) }}
                                {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                <br>
                                {{ form_widget(form.submit, { 'label': 'Modifier',
                                    'attr': {'class': 'form-control btn btn-primary'} }) }}
                                {{ form_end(form) }}
                            </fieldset>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <script src="{{ asset('bundles/app/assets/vendor/jquery/jquery.min.js') }}"></script>

{% endblock %}