{% extends '@App/layout.html.twig' %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
{% endblock %}

{% block HeaderTitle %}Dashboard{% endblock %}

{% block dashboardInfos %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3>Liste des utilisateurs</h3>

                    <table id="example" class="display" style="width:100%">

                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Rôle</th>
                            <th>
                                <a href="{{ path('user_register') }}">
                                    <button type="button" class="btn btn-default" title="ajouter un nouveau">
                                        <span class="fa fa-plus-square"></span>
                                    </button>
                                </a>
                                &nbsp;&nbsp;
                                Action
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                        Admin
                                    {% elseif 'ROLE_MANAGER' in user.roles %}
                                        Manager
                                    {% else %}
                                        User
                                    {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('user_detail', { 'id': user.id }) }}">
                                    <button type="button" class="btn btn-default">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </a>
                                <a href="{{ path('user_detail',{'id':user.id, 'mode':'edit'}) }}">
                                    <button type="button" class="btn btn-default">
                                        <span class="fa fa-edit"></span>
                                    </button>
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('delete_user',{'id':user.id}) }}">
                                        <button type="button" class="btn btn-default"
                                                onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                            {return true;}else{return false;}">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% else %}
                            <p>Aucun utilisateur n'a été trouvée.</p>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
