{% extends '@App/layout.html.twig' %}

{% block HeaderTitle %}Ajout Utilisateur{% endblock %}

{% block content %}
    <style>

        .border_error {
            border: 1px solid red;
        }
        .error_style {
            color: red;
        }

    </style>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                {{ form_start(form, {'method': 'post', 'action': path('user_register'),
                                    'attr': {'id': 'Myform', 'class': 'fos_user_registration_register'}}) }}
                                {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                                <span id="email_result"></span>
                                {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                                <span id="username_result"></span>
                                {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                                {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                                <span id="password_result"></span>
                                <br>
                                {{ form_row(form.submit, {'attr': {'class': 'form-control btn btn-primary'}}) }}
                                {{ form_end(form) }}

                            </fieldset>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% block javascripts %}
        <script src="{{ asset('bundles/app/assets/vendor/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript">

            $('#app_user_registration_email').click(function() {
                $('#email_result').hide();
                $('#app_user_registration_email').removeClass("border_error");
                $('#app_user_registration_username').removeClass("border_error");
            });

            $('#app_user_registration_username').click(function() {
                $('#username_result').hide();
                $('#app_user_registration_email').removeClass("border_error");
                $('#app_user_registration_username').removeClass("border_error");
            });

            $('#app_user_registration_plainPassword_first').click(function() {
                $('#password_result').hide();
                $('#app_user_registration_email').removeClass("border_error");
                $('#app_user_registration_username').removeClass("border_error");
                $('#app_user_registration_plainPassword_first').removeClass("border_error");
            });

            $("#app_user_registration_submit").click(function() {
                var email = $('#app_user_registration_email').val();
                var username = $('#app_user_registration_username').val();
                var pwd1 = $('#app_user_registration_plainPassword_first').val();
                var pwd2 = $('#app_user_registration_plainPassword_second').val();

                console.log(pwd1);
                console.log(pwd2);

                var response = $.ajax({
                    type: "GET",
                    url: "{{ url('check_validity') }}",
                    data: {email: email, username : username},
                    async: false
                }).responseText;

                console.log(response);

                if(response == 'email taken'){
                    //$('#app_user_registration_email').css("border-color", "red");
                    $('#app_user_registration_email').addClass("border_error");
                    $('#email_result').show();
                    $('#email_result').addClass("error_style");
                    $("#email_result").text("Email déjà pris");
                    return false;
                }else if(response == 'username taken'){
                    $('#app_user_registration_username').addClass("border_error");
                    $('#username_result').show();
                    $('#username_result').addClass("error_style");
                    $("#username_result").text("Username déjà pris");
                    return false;
                }else if(pwd1 != pwd2){
                    $('#app_user_registration_plainPassword_first').addClass("border_error");
                    $('#app_user_registration_plainPassword_second').addClass("border_error");
                    $('#password_result').show();
                    $('#password_result').addClass("error_style");
                    $("#password_result").text("les mots de passes ne sont pas compatibles");
                    return false;
                }else{
                    return true;
                }
            });
        </script>
    {% endblock %}

{% endblock %}