{% extends '@App/layout.html.twig' %}

{% block HeaderTitle %}
    {% if user.id == app.user.id %}
        Profile Details
    {% else %}
        {{ pseudo(user) }}
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('user_update',{'id':user.id, 'mode':'edit'}) }}">
                        <button type="button" class="btn btn-default" id="editButton" title="modifier les données">
                            <span class="fa fa-edit"></span>
                        </button>&nbsp;
                    </a>
                    <b>Informations Personnelles sur {{ user|civ }} </b> ({{ user|role }})
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <form action={{ path('user_update',{'id':user.id}) }}>
                                <div class="form-group">
                                    <label for="reference">Firstname</label>
                                    <input class="form-control" id="reference" name="firstname"
                                           value={{ user.firstname }} disabled />
                                </div>
                                <div class="form-group">
                                    <label for="designation">Lastname</label>
                                    <input class="form-control" id="designation" name="lastname" value={{ user.lastname }}
                                    disabled />
                                </div>
                                <div class="form-group">
                                    <label for="designation">Username</label>
                                    <input class="form-control" id="designation" name="username" value={{ user.username }}
                                     disabled />
                                </div>
                                <div class="form-group">
                                    <label for="categorie">Email</label>
                                    <input class="form-control" id="categorie" name="email" value={{ user.email }}
                                     disabled />
                                </div>
                                <div class="form-group">
                                    <a href="{{ path('users_list') }}">
                                        <button type="button" class="btn btn-default">
                                            Revenir vers la liste des utilisateurs
                                    </button>
                                    </a>
                                </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {#
    {% block javascripts %}
        <script src="{{ asset('bundles/app/assets/vendor/jquery/jquery.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('#editButton').click(function() {
                    $('.form-control').prop('disabled', false);
                    $('.btn').prop('disabled', false);
                });
            });
        </script>
    {% endblock %}
    #}

{% endblock %}