{% extends 'base.html.twig' %}

{% block body %}

<b>Date :</b> {{ date|date('d/m/Y') }} <br> <br>

Nombre de paramètre reçu : {{ personne|length }} <br>

<p>Information Personnel :</p>

<table cellspacing="10">
	<tr> <th> ID      </th>  <td>{{ personne['id'] }}</td> </tr>
	<tr> <th> Nom     </th>  <td>{{ personne['nom']|upper }}</td> </tr>
	<tr> <th> Prénom  </th>  <td>{{ personne['prenom'] }}</td> </tr>
	<tr> <th> Adresse </th>  <td>{{ personne['adresse'] }}</td> </tr>
</table>

{% endblock %}

